#titulo1 {
    margin: 7% 0 3% 5%;
}

.confirmados h5{
    color: #FF0000
}

.recuperados h5{
    color: #30CF30
}

.suspeitos h5 {
    color: #808000
}

.descartados {
    margin-left: 45%;
}

.descartados h5 {
    color: #BF40BF
}

.obitos {
    margin-left: 10%;
}


@media only screen and (max-width: 991px) {
    #titulo1 {
        text-align: center;
        margin-left: 0;
    }

    .descartados {
        margin: 0 auto;
    }

    .obitos {
        margin: 0 auto;
    }
}