body {
    background-color: rgba(29, 165, 132, 0.05);
    font-family: sans-serif;
}

#titulo1 {
    margin: 5% 0 5% 5%;
}

.confirmados h5{
    color: #FF0000
}

.recuperados h5{
    color: #30CF30
}

.suspeitos h5 {
    color: #808000
}

.descartados {
    margin-left: 45%;
}

.descartados h5 {
    color: #BF40BF
}

.obitos {
    margin-left: 10%;
}

#titulo2{
    margin: 5% 0 0 5%;
}

hr {
    margin: 3% 0
}

canvas {
    margin-bottom: 3%;
}

.graficoEsquerda {
    width: 90%;
    height: 95%;
    margin-left: 10%;
    background-color: rgba(28, 55, 83, 0.85); 
    color: white;
    border-radius: 20px;
}

.graficoDireita {
    width: 90%;
    height: 95%;
    background-color: rgba(28, 55, 83, 0.85); 
    color: white;
    border-radius: 20px;
}

#graficoFinal {
    width: 44%;
    height: 95%;
    margin-left: 28%;
    background-color: rgba(28, 55, 83, 0.85); 
    color: white;
    border-radius: 20px;
}

#titulo3{
    margin: 5% 0 3% 5%;
}

.cardVideoEsquerda {
    background-color: white;
    padding: 5%;
    width: 94%;
    margin-left: 10%;
    border-right: solid gray 5px;
}

.cardVideoDireita {
    background-color: white;
    padding: 5%;
    height: 100%;
    margin-right: 10%;
    border-left: solid gray 5px;
}

.video {
    margin-top: 4%;
}

.infoAdicionais {
    margin: 0 5%;
    border-top: solid gray 5px;
    padding: 7px 0 1px 0;
}

@media only screen and (max-width: 991px) {
    #titulo1 {
        text-align: center;
        margin-left: 0;
    }

    .descartados {
        margin: 0 auto;
    }

    .obitos {
        margin: 0 auto;
    }

    #titulo2 {
        text-align: center;
        margin-left: 0;
    }

    .graficoEsquerda {
        width: 100%;
        margin-left: 0; 
    }

    .graficoDireita {
        width: 100%;
        margin-left: 0;  
    }

    #graficoFinal {
        width: 100%;
        margin-left: 0;
    }
}