#titulo1 {
    margin: 7% 0 3% 5%;
}

.confirmados h5{
    color: #FF0000
}

.confirmadosTotal h5{
    color: rgb(245, 141, 141)
}

.recuperados h5{
    color: #30CF30
}

.suspeitos h5 {
    color: #808000
}

.descartados h5 {
    color: #BF40BF
}

.explicacao {
    margin: 1% 0 0 5%;
    text-align: justify;
}


@media only screen and (max-width: 991px) {
    #titulo1 {
        text-align: center;
        margin-left: 0;
        margin-top: 15%;
    }

    .descartados {
        margin: 0 auto;
    }

    .obitos {
        margin: 0 auto;
    }
}


@media only screen and (max-width:575px) {
    #titulo1 {
        text-align: center;
        margin-left: 0;
        margin-top: 20%;
    }
}