* {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(29, 165, 132, 0.05);
    font-family: sans-serif;
}

#linksNav {
    margin-right: 5%;
}

footer {
    background-color: white;
    text-align: center;
    margin-top: 5%;
    padding: 1% 0;
}

#footerTexto {
    color: black;
    margin-left: 30%;
}

#contato {
    color: rgba(0, 0, 0, 0.64);
    margin-left: 20%;
}

@media only screen and (max-width:991px) {
    #linksNav {
        margin-right: 0;
    }
}


@media only screen and (max-width:575px) {
    * {
        scroll-behavior: auto;
    }

    #footerTexto {
        margin-left: 0;
    }
    
    #contato {
        margin-left: 8%;
    }
}