{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/casos.css' %}">
    <link rel="stylesheet" href="{% static 'css/graficos.css' %}">
    <link rel="stylesheet" href="{% static 'css/infoImportantes.css' %}">
    
    <title>covid sjs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <a class="navbar-brand" href="#titulo1">
            <img src="{% static 'images/logo_prefeitura.jpg' %}" width="85px"
                height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav navbar-nav text-center" id="linksNav">
                <li class="nav-item">
                    <a class="nav-link" href="#titulo1">Casos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#titulo2">Gráficos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#titulo3">Informações importantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h1 id="titulo1">Casos do Covid-19 em São João do Sabugi</h1>
            </div>
        </div>
        <div class="row">
            <dic class="col-12">
                <p class="explicacao">Última atualização dos boletins: {{ casoAtual.data }} </p>
            </dic>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 confirmados" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Confirmados</h5>
                        <p class="card-text">{{ casoAtual.confirmados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.confirmados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 confirmadosFora" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Confirmados fora*</h5>
                        <p class="card-text">{{ casoAtual.confirmados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.confirmados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 recuperados" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Recuperados</h5>
                        <p class="card-text">{{ casoAtual.recuperados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.recuperados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 suspeitos" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Suspeitos</h5>
                        <p class="card-text">{{ casoAtual.suspeitos }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.suspeitos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto  mt-4 shadow-sm pl-2 descartados" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Descartados</h5>
                        <p class="card-text">{{ casoAtual.descartados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.descartados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 obitos" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Óbitos</h5>
                        <p class="card-text">{{ casoAtual.obitos }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.obitos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <p class="explicacao">* Pessoas que tiveram o teste confirmado e 
                    têm endereço na cidade, mas que no momento se encontram fora.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id="titulo2">Gráficos dos casos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6 mt-3">
                <div class="p-4 shadow graficoEsquerda">
                    <h5 class="text-center">Evolução dos casos confirmados</h5>
                    <hr>
                    <canvas id="confirmados"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-3">
                <div class="p-4 shadow graficoDireita">
                    <h5 class="text-center">Evolução dos casos confirmados fora</h5>
                    <hr>
                    <canvas id="confirmadosFora"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoEsquerda">
                    <h5 class="text-center">Evolução dos casos recuperados</h5>
                    <hr>
                    <canvas id="recuperados"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoDireita" >
                    <h5 class="text-center">Evolução dos casos suspeitos</h5>
                    <hr>
                    <canvas id="suspeitos"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoEsquerda" >
                    <h5 class="text-center">Evolução dos casos descartados</h5>
                    <hr>
                    <canvas id="descartados"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoDireita">
                    <h5 class="text-center">Evolução dos casos de óbitos</h5>
                    <hr>
                    <canvas id="obitos" ></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id="titulo3" >Informações importantes</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Qual a importância de usar a máscara?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/hyGGiySNpeU" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Máscaras de pano são eficazes? Como lavar?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/lvk1P0ldVZY" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Quais cuidados ter com a máscara no rosto?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/R0YA559kN8M" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Quem não tem sintomas também deve usar máscara?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/MfMGvRH4G4A" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Como retirar a máscara corretamente?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/L5jOGnI5bgw" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Qual tecido ideal para a máscara?</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/qXpl33dybcw" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bg-white text-center pb-2 infoAdicionais shadow">
                    <a href="https://www.todospelasaude.org/" target="_blank">
                        Informações adicionais
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <h4 class="tituloInfos shadow">Na quarentena com Dr. Drauzio</h4>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Mexa-se mesmo no isolamento</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/Opcz8hHUvwQ" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Dica para passar o tempo na quarentena</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/cFDbMOkj-Xk" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Organize seu dia</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/uPx1GykHu8s" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Dê um tempo de notícias sobre a pandemia</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/NYWNQn8HNkU" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Quem é mais novo também precisa levar a sério</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/to0qW9_My8w" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Isso vai passar</h5>
                    <iframe class="video" src="https://www.youtube.com/embed/9R1jQURhWDM" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <h4 class="tituloInfos shadow">Sobre a COVID-19</h4>
            </div>
            <div class="col-lg-12">
                <div class="cardTexto shadow">
                    <h5 class="tituloTexto">O que é</h5>
                    <p>A COVID-19 é uma doença causada pelo coronavírus 
                        SARS-CoV-2, que apresenta um quadro clínico que varia de
                        infecções assintomáticas a quadros respiratórios graves.
                        De acordo com a Organização Mundial de Saúde (OMS), 
                        a maioria dos pacientes com COVID-19 (cerca de 80%) 
                        podem ser assintomáticos e cerca de 20% dos casos podem 
                        requerer atendimento hospitalar por apresentarem
                        dificuldade respiratória e desses casos aproximadamente 
                        5% podem necessitar de suporte para o tratamento de 
                        insuficiência respiratória (suporte ventilatório).
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="cardTexto shadow">
                    <h5 class="tituloTexto">Sintomas</h5>
                    <p>Os sintomas da COVID-19 podem variar de um simples 
                        resfriado até uma pneumonia severa. Sendo os sintomas 
                        mais comuns:
                    </p>
                    <ul>
                        <li>Tosse</li>
                        <li>Febre</li>
                        <li>Coriza</li>
                        <li>Dor de gargata</li>
                        <li>Dificuldade para respirar</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="cardTexto shadow">
                    <h5 class="tituloTexto">Como se proteger</h5>
                    <p>
                        As recomendações de prevenção à COVID-19 são as
                         seguintes:
                    </p>
                    <ul>
                        <li>
                            Lave com frequência as mãos até a altura dos punhos,
                             com água e sabão, ou então higienize com álcool em
                              gel 70%.
                        </li>
                        <li>
                            Ao tossir ou espirrar, cubra nariz e boca com lenço 
                            ou com o braço, e não com as mãos.
                        </li>
                        <li>
                            Evite tocar olhos, nariz e boca com as mãos não 
                            lavadas.
                        </li>
                        <li>
                            Ao tocar, lave sempre as mãos como já indicado.
                        </li>
                        <li>
                            Mantenha uma distância mínima de cerca de 2 metros 
                            de qualquer pessoa tossindo ou espirrando.
                        </li>
                        <li>
                            Evite abraços, beijos e apertos de mãos. Adote um 
                            comportamento amigável sem contato físico, mas 
                            sempre com um sorriso no rosto.
                        </li>
                        <li>
                            Higienize com frequência o celular e os brinquedos 
                            das crianças.
                        </li>
                        <li>
                            Não compartilhe objetos de uso pessoal, como 
                            talheres, toalhas, pratos e copos.
                        </li>
                        <li>
                            Mantenha os ambientes limpos e bem ventilados.
                        </li>
                        <li>
                            Evite circulação desnecessária nas ruas, estádios, 
                            teatros, shoppings, shows, cinemas e igrejas. Se 
                            puder, fique em casa.
                        </li>
                        <li>
                            Se estiver doente, evite contato físico com outras 
                            pessoas, principalmente idosos e doentes crônicos, 
                            e fique em casa até melhorar.
                        </li>
                        <li>
                            Durma bem e tenha uma alimentação saudável.
                        </li>
                        <li>
                            Utilize máscaras caseiras ou artesanais feitas de 
                            tecido em situações de saída de sua residência.
                        </li>
                    </ul>
                
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bg-white text-center pb-2 infoAdicionais shadow">
                    <a href="https://coronavirus.saude.gov.br/index.php/sobre-a-doenca"
                     target="_blank">
                        Mais informações
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="https://www.linkedin.com/in/jackson-alves541" target="_blank" id="footerTexto">
            Jackson Alves © 2020
        </a>

        <a href="https://forms.gle/SZr9tUVa53E7PV3t8" target="_blank" id="contato">Entre em contato</a>
    </footer>

</body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>


    <script>
        //script para redimencionar o tamanho de todos os graficos de acordo
        //com o tamanho da tela do usuário
        Chart.defaults.global.defaultFontColor = 'white';

        function redimencionarTela() {
            let menorQue1200 = false
            let menorQue456 = false

            if (screen.width <= 400) {
                var tamanho = '325%'
                menorQue456 = true

            } else if (screen.width <= 455) {
                var tamanho = '300%'
                menorQue456 = true

            } else if (screen.width <= 575) {
                var tamanho = '300%'
                menorQue1200 = true

            } else if (screen.width <= 1199){
                menorQue1200 = true
            }

            if (menorQue456) {
                const videos = document.getElementsByClassName('video')

                for (video of videos) {
                    video.setAttribute('height', '174px')
                    video.setAttribute('width', '310px')
                }

            } else if (menorQue1200) {
                const videos = document.getElementsByClassName('video')

                for (video of videos) {
                    video.setAttribute('height', '202px')
                    video.setAttribute('width', '360px')
                }
            }

            const lista = document.getElementsByTagName('canvas')

            for (elemento of lista) {
                elemento.setAttribute('height', tamanho)
            }

            //criando gráficos
            var ctx = document.getElementById('confirmados');

            var graficoConfirmados = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos confirmados',
                        data: {{graficoCasosConfirmados}},
                        backgroundColor: 'rgba(255, 0, 0, 0.1)',
                        borderColor: 
                            'rgba(255, 0, 0, 0.85)'
                        ,
                        borderWidth: 4
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });

            
            ctx = document.getElementById('confirmadosFora');

            var graficoConfirmadosFora = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos confirmados',
                        data: {{graficoCasosConfirmadosFora}},
                        backgroundColor: 'rgba(245, 141, 141, 0.1)',
                        borderColor: 
                            'rgba(245, 141, 141, 0.85)'
                        ,
                        borderWidth: 4
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });

            ctx = document.getElementById('recuperados');
            var graficoRecuperados = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos recuperados',
                        data: {{graficoCasosRecuperados}},
                        backgroundColor: [
                            'rgba(48, 207, 48, 0.1)'
                        ],
                        borderColor: 
                            'rgba(48, 207, 48, 0.85)'
                        ,
                        borderWidth: 4
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });

            ctx = document.getElementById('recuperados');
            var graficoRecuperados = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos recuperados',
                        data: {{graficoCasosRecuperados}},
                        backgroundColor: [
                            'rgba(48, 207, 48, 0.1)'
                        ],
                        borderColor: 
                            'rgba(48, 207, 48, 0.85)'
                        ,
                        borderWidth: 4
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });
            
            ctx = document.getElementById('suspeitos');
            var graficoSuspeitos = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos suspeitos',
                        data: {{graficoCasosSuspeitos}},
                        backgroundColor: [
                            'rgba(128, 128, 0, 0.1)'
                        ],
                        borderColor: 
                            'rgba(128, 128, 0, 0.85)'
                        ,
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });

            ctx = document.getElementById('descartados');
            var graficoDescartados = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos descartados',
                        data: {{graficoCasosDescartados}},
                        backgroundColor: [
                            'rgba(191, 64, 191, 0.1)'
                        ],
                        borderColor: 
                            'rgba(191, 64, 191, 0.85)'
                        ,
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });

            ctx = document.getElementById('obitos');
            var graficoObitos = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{datas|safe}},
                    datasets: [{
                        label: 'Casos de óbitos',
                        data: {{graficoCasosObitos}},
                        backgroundColor: [
                            'rgba(0, 0, 0, 0.1)'
                        ],
                        borderColor: 
                            'rgba(0, 0, 0, 1)'
                        ,
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Número de casos'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }]
                    }
                }
            });
        }

        redimencionarTela()

        //chama a função sempre que a tela for redimencionada
        //window.addEventListener('resize', redimencionarTela)

    </script>
    
</html>