{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/casos.css' %}">
    <link rel="stylesheet" href="{% static 'css/graficos.css' %}">
    <link rel="stylesheet" href="{% static 'css/infoImportantes.css' %}">
    
    <title>covid sjs</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h1 id="titulo1">Casos do Covid-19 em São João do Sabugi</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 confirmados" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Confirmados</h5>
                        <p class="card-text">{{ casoAtual.confirmados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.confirmados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 recuperados" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Recuperados</h5>
                        <p class="card-text">{{ casoAtual.recuperados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.recuperados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card mx-auto mt-4 shadow-sm pl-2 suspeitos" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Suspeitos</h5>
                        <p class="card-text">{{ casoAtual.suspeitos }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.suspeitos }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card descartados mt-4 shadow-sm pl-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Descartados</h5>
                        <p class="card-text">{{ casoAtual.descartados }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.descartados }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card obitos mt-4 shadow-sm pl-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Óbitos</h5>
                        <p class="card-text">{{ casoAtual.obitos }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Casos novos</h6>
                        <p class="card-text">{{ casosNovos.obitos }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id="titulo2">Gráficos dos casos</h2>
            </div>
        </div>

        <p id="teste"></p>

        <div class="row">
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoEsquerda">
                    <h5 class="text-center">Evolução dos casos confirmados</h5>
                    <hr>
                    <canvas id="confirmados"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoDireita">
                    <h5 class="text-center">Evolução dos casos recuperados</h5>
                    <hr>
                    <canvas id="recuperados"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoEsquerda" >
                    <h5 class="text-center">Evolução dos casos suspeitos</h5>
                    <hr>
                    <canvas id="suspeitos"></canvas>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mt-5">
                <div class="p-4 shadow graficoDireita" >
                    <h5 class="text-center">Evolução dos casos descartados</h5>
                    <hr>
                    <canvas id="descartados"></canvas>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="p-4 shadow" id="graficoFinal" >
                    <h5 class="text-center">Evolução dos casos de óbitos</h5>
                    <hr>
                    <canvas id="obitos" ></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 id="titulo3" >Informações importantes</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Qual a importância de usar a máscara?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/hyGGiySNpeU" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Máscaras de pano são eficazes? Como lavar?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/lvk1P0ldVZY" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Quais cuidados ter com a máscara no rosto?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/R0YA559kN8M" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Quem não tem sintomas também deve usar máscara?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/MfMGvRH4G4A" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoEsquerda shadow">
                    <h5>Como retirar a máscara corretamente?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/L5jOGnI5bgw" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardVideoDireita shadow">
                    <h5>Qual tecido ideal para a máscara?</h5>
                    <iframe class="video" src="http://www.youtube.com/embed/qXpl33dybcw" 
                        width="480px" height="270px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bg-white text-center infoAdicionais shadow">
                    <a href="https://www.todospelasaude.org/" target="_blank">
                        Informações adicionais
                    </a>
                </div>
            </div>
        </div>

        <br><br>

    </div>

</body>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


    <script>
        //script para redimencionar o tamanho de todos os graficos de acordo
        //com o tamanho da tela do usuário
        let menorQue1200 = false
        let menorQue456 = false

        if (screen.width <= 400) {
            var tamanho = '325%'
            menorQue456 = true

        } else if (screen.width <= 455) {
            var tamanho = '300%'
            menorQue456 = true

        } else if (screen.width <= 575) {
            var tamanho = '300%'
            menorQue1200 = true

        } else if (screen.width <= 1199){
            menorQue1200 = true
        }

        if (menorQue456) {
            const videos = document.getElementsByClassName('video')

            for (video of videos) {
                video.setAttribute('height', '135px')
                video.setAttribute('width', '270px')
            }

        } else if (menorQue1200) {
            const videos = document.getElementsByClassName('video')

            for (video of videos) {
                video.setAttribute('height', '180px')
                video.setAttribute('width', '360px')
            }
        }

        const lista = document.getElementsByTagName('canvas')

        for (elemento of lista) {
            elemento.setAttribute('height', tamanho)
        }
    </script>


    <script>
        Chart.defaults.global.defaultFontColor = 'white';

        var ctx = document.getElementById('confirmados');

        var graficoConfirmados = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{datas|safe}},
                datasets: [{
                    label: 'Casos confirmados',
                    data: {{graficoCasosConfirmados}},
                    backgroundColor: 'rgba(255, 0, 0, 0.1)',
                    borderColor: 
                        'rgba(255, 0, 0, 0.85)'
                    ,
                    borderWidth: 4
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Número de casos'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('recuperados');
        var graficoRecuperados = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{datas|safe}},
                datasets: [{
                    label: 'Casos recuperados',
                    data: {{graficoCasosRecuperados}},
                    backgroundColor: [
                        'rgba(48, 207, 48, 0.1)'
                    ],
                    borderColor: 
                        'rgba(48, 207, 48, 0.85)'
                    ,
                    borderWidth: 4
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Número de casos'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('suspeitos');
        var graficoSuspeitos = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{datas|safe}},
                datasets: [{
                    label: 'Casos suspeitos',
                    data: {{graficoCasosSuspeitos}},
                    backgroundColor: [
                        'rgba(128, 128, 0, 0.1)'
                    ],
                    borderColor: 
                        'rgba(128, 128, 0, 0.85)'
                    ,
                    borderWidth: 5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Número de casos'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('descartados');
        var graficoDescartados = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{datas|safe}},
                datasets: [{
                    label: 'Casos descartados',
                    data: {{graficoCasosDescartados}},
                    backgroundColor: [
                        'rgba(191, 64, 191, 0.1)'
                    ],
                    borderColor: 
                        'rgba(191, 64, 191, 0.85)'
                    ,
                    borderWidth: 5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Número de casos'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('obitos');
        var graficoObitos = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{datas|safe}},
                datasets: [{
                    label: 'Casos de óbitos',
                    data: {{graficoCasosObitos}},
                    backgroundColor: [
                        'rgba(0, 0, 0, 0.1)'
                    ],
                    borderColor: 
                        'rgba(0, 0, 0, 1)'
                    ,
                    borderWidth: 5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Número de casos'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        });
    </script>
</html>